:root {
  --heading-font: "Grape Nuts", cursive;
  --main-text-font: "Dosis", sans-serif;
  --primary-colour: #f5e4da;
  --secondary-colour: #f3d6d6;
  --tertiary-colour: #f2d7d3;
}
@media (max-width: 600px) {
  .summary-container h4 {
    font-size: 17px;
  }
  .summary-container p {
    font-size: 14px;
  }
}
body {
  background-color: white;
  text-align: center;
}

h1 {
  font-family: var(--heading-font);
  font-size: 30px;
}
h2,
h3,
h4 {
  font-family: var(--heading-font);
}
h3 {
  font-size: 20px;
}
p {
  font-family: var(--main-text-font);
}

footer {
  background-color: var(--primary-colour);
}

.color-element {
  background-color: var(--primary-colour);
  padding: 25px;
  margin: 50px;
  border-radius: 7px;
}

.linkedin-logo {
  width: 60px;
}

.about-me-content {
  background-color: var(--primary-colour);
  padding: 50px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 150px;
}

.images-skills-content {
  margin: 30px;
}

.about-profile-picture {
  width: 305px;
}

.about-skills-content {
  margin-top: 50px;
}

.html-logo,
.css-logo,
.js-logo,
.api-logo,
.bootstrap-logo,
.github-logo {
  width: 50px;
  padding: 4px;
}

.know-more-element {
  background-color: var(--secondary-colour);
  padding-top: 40px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.know-more-element h3 {
  text-align: left;
  font-size: 25px;
}

.know-more-element h4 {
  font-size: 20px;
}

.linkedin-logo:hover {
  transition: all ease-in-out;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-img-weatherapp,
.project-img-landingpage {
  width: 400px;
}

.weather-app-content,
.landing-page-content {
  margin: 60px;
}
.project-description {
  background-color: var(--primary-colour);
  padding: 30px;
  border-radius: 6px;
}
.project-skills {
  background-color: var(--secondary-colour);
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}
