:root {
  --branding-font: "Rubik", sans-serif;
  --primary-colour: #f9ecec;
  --secondary-colour: #f0d9da;
  --tertiary-colour: #ecf2f9;
}
body {
  background-color: white;
  text-align: center;
}

h1 {
  font-family: var(--branding-font);
  font-size: 12px;
}
h2,
h3,
p {
  font-family: var(--branding-font);
}
h3 {
  font-size: 20px;
}
h4 {
  font-family: var(--branding-font);
}
hr {
  background-color: var(--secondary-colour);
  width: 100%;
  opacity: 100%;
}

.home-link {
  font-size: 25px;
}

.skills-logo {
  width: 35px;
}

.homepage-hero h4 {
  text-decoration: underline;
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 22px;
  }
  h3,
  h4 {
    font-size: 17px;
  }

  .homepage-hero p {
    font-size: 14px;
  }
}

.profile-picture {
  width: 250px;
  display: block;
}
.my-work-element h4 {
  text-decoration: underline;
}
.my-work-element button {
  background-color: var(--tertiary-colour);
  border-color: #c8d9eb;
  border-width: 3px;
}

.project-img {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 0;
}

.socials-icon {
  font-size: 40px;
  margin: 10px;
}
