:root {
  --branding-font: "Merriweather", serif;
  --secondary-font: "Bitter", serif;
  --primary-colour: #f9ecec;
  --secondary-colour: #f0d9da;
  --tertiary-colour: #ecf2f9;
}

h1 {
  font-family: var(--branding-font);
  font-size: 55px;
}
h2,
h3,
p {
  font-family: var(--secondary-font);
}
h3 {
  font-size: 20px;
}
h4 {
  font-family: var(--branding-font);
}
hr {
  background-color: var(--secondary-colour);
  width: 100%;
  opacity: 100%;
}

.homepage-hero {
  background-color: var(--primary-colour);
  text-align: center;
  padding-top: 100px;
}

.skills-logo-element {
  background-color: var(--secondary-colour);
}
.skills-logo {
  width: 35px;
}

.personal-profile {
  background-color: var(--primary-colour);
}
.profile-picture {
  width: 250px;
}

.project-img {
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 0;
}

.socials-icon {
  font-size: 40px;
  margin: 10px;
}
